
 /* quick link area */
  .quicklinkgrid{
    display: grid;
    grid-template-rows: 70% 20% 10%;
    background-color: #000000;
    color: #ffffff;
    z-index: 2;
}
.quicklinkgrid-top{
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
}
.q-t-about{
    display: grid;
    grid-template-rows: 20% 80%;
}
.q-t-about-logo{
    padding: 1vw;
}
.q-t-about-data{
    margin-top: 2vh;
}
.q-t-link1{
    display: grid;
    grid-template-rows: 20% 80%;
}
.q-t-link2{
    display: grid;
    grid-template-rows: 20% 80%;
}
.links{
    text-align: center;
    margin-top: 2.8vw;
}
.links a{
    text-decoration: none;
    color: cornflowerblue;
}
.q-t-contact{
    display: grid;
    grid-template-rows: 20% 60% 20%;
}


.q-t-contact-data svg{
height: 2vw;
}
.q-t-contact-social{
padding: 1vw;
letter-spacing: 1vw;
text-decoration: none;
}
.q-t-contact-social svg{
    height: 3vw;
}
.quicklinkgrid-bottom{
    display: grid;
    grid-template-columns: 70% 30%;
}
.f-h{
    font-size: 1.5vw;
text-align: center;
padding: 2vw;
letter-spacing: 0.1em;
font-family: 'Quicksand', sans-serif;
}
.f-font{
    font-size: 1vw;
    letter-spacing: 0.2em;
    padding: 2vw;
    text-align: justify;
    margin-top: 2vh;
    font-family: 'Quicksand', sans-serif;
}
.q-b-copyright{
    padding-top: 4vw;
    text-align: center;
}
.q-b-cobat{
    padding-top: 4vw;
    text-align: center;
}
.cobat{
    background: linear-gradient(
        to right,
        #16bffd 40%,
        #cb3066 60%
      ); /* gradient text start  */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; /* gradient text end  */
}
.q-t-contact-data{
    text-align: center;
}
@media screen and (max-width: 740px) {
    .main-grid{
        display: grid;
        grid-template-rows: 35vh auto 5vh 10vh auto 10vh 10vh auto 5vh 10vh auto auto;
    }
    .regis-notifi-grid{
      display: grid;
      grid-template-columns: none;
    }
}
@media screen and (max-width: 1048px) {
    .inst-grid{
        display: grid;
        grid-template-columns: none;
    }
    .video-grid{
        display: grid;
        grid-template-columns: none;
    }
}
@media screen and (max-width: 580px) {
  
    .quicklinkgrid-top{
        display: grid;
        grid-template-columns: none;
    }
    .quicklinkgrid-bottom{
        display: grid;
        grid-template-columns: none;
    }
    .q-t-about{
        display: grid;
        grid-template-rows: 40% 50%;
    }
    .f-h{
        font-size: 4vw;
    }
    .f-font{
        font-size: 2.4vw;
        letter-spacing: 0.2em;
        padding: 2vw;
        text-align: justify;
        margin-top: 0vh;
    }
    .links{
        text-align: center;
        margin-top: 4.8vw;
    }
    .q-t-about-data{
        padding: 10vw;
        padding-top: 0vw;
    }
        .q-t-contact-data{
        text-align: center;
        }
        .q-t-contact-data svg{
        height: 4vw;
        }
        .q-t-contact-social{
        padding: 2vw;
        letter-spacing: 1em;
        text-decoration: none;
        }
        .q-t-contact-social svg{
            height: 8vw;
        }
        .q-b-copyright{
            padding-top: 14vw;
        }

}